*{ 
     box-sizing: border-box;
}
h1, #pp {
    text-align: center;
    letter-spacing: 4px;
    font-family: 'Nunito', sans-serif;
}
h1 {
    text-transform: uppercase;
    font-weight: bolder;
}
#pp {
    font-size: 25px;
}
h2 {
    border-top: 3px solid lightblue;
    margin-left: 10%;
    margin-right: 10%;
}
.WORK EXPERIENCE {
    width: 50px;
    float: left;
    padding: 15px;
}
.WORK EXPERIENCE h3 {
    margin-left: 30px;
    text-transform: uppercase;
}
.Paycom Nigeria Limited p {
    text-transform: uppercase;
    text-emphasis-style: 20px;
}
.WORK EXPERIENCE h4 {
    margin-left: 30px;
    border: 4px solid lightblue;
    width: 10%;
}
.WORK EXPERIENCE p {
    margin-left: 30px;
    padding: 5px;
    margin-right: 20%;
    font-family: 'lato'; sans-serif
}
.resume:;after {
    content: "";
    display: table;
    clear: both;
}